Lab07/CourseSystem/WebContent/wsdl/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ServiceService" targetNamespace="http://service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://service/" version="1.0" xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getInfo" type="tns:getInfo"/>

  <xs:element name="getInfoResponse" type="tns:getInfoResponse"/>

  <xs:element name="setInfo" type="tns:setInfo"/>

  <xs:element name="setInfoResponse" type="tns:setInfoResponse"/>

  <xs:complexType name="getInfo">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:course"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="course">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element name="value" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="info" type="tns:course"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setInfoResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getInfo">
    <wsdl:part name="parameters" element="tns:getInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInfoResponse">
    <wsdl:part name="parameters" element="tns:getInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setInfoResponse">
    <wsdl:part name="parameters" element="tns:setInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setInfo">
    <wsdl:part name="parameters" element="tns:setInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Service">
    <wsdl:operation name="getInfo">
      <wsdl:input name="getInfo" message="tns:getInfo">
    </wsdl:input>
      <wsdl:output name="getInfoResponse" message="tns:getInfoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setInfo">
      <wsdl:input name="setInfo" message="tns:setInfo">
    </wsdl:input>
      <wsdl:output name="setInfoResponse" message="tns:setInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceServiceSoapBinding" type="tns:Service">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getInfo">
      <soap:operation soapAction="urn:GetInfo" style="document"/>
      <wsdl:input name="getInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setInfo">
      <soap:operation soapAction="urn:SetInfo" style="document"/>
      <wsdl:input name="setInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceService">
    <wsdl:port name="ServicePort" binding="tns:ServiceServiceSoapBinding">
      <soap:address location="http://localhost:8080/CourseSystem/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
